*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
    color: rgb(48, 47, 47) !important;
}
a:active{
    color: gray;
}


    .nav-links span:hover::after {
       content: '';
       width: 100%;
       height: 2px;
       background: green;
       display: block;
       margin: auto;
       transition: 0.5s;
      }

      
.navbar{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding-left: 30px;
}
.nav-links{
    display: flex;
    padding: 0 20px;
}

.nav-links span{
    margin: 0 20px;
}
/* header */

.row{
    width: 100vw;
    height: 100vh;
    align-items: center;
}
.col{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro{
    align-items: center;
}
.searchbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:50px ;
    
}
.searchbar input{
    width: 60%;
    height: 40px;
    padding-left: 20px ;
    border: none;
    outline: 1px solid green;
    border-radius: 20px;
  
}

.searchbar button{
    margin-left: -20px;
    height: 40px;
    border-radius: 0 20px 20px 0;
}
.sub{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 20vh;
}
.subscribe-form{
    padding: 10px;
}
.subscribe-form input{
    width: 400px;
    height: 40px;
    padding-left: 20px ;
    border: none;
    outline: 1px solid green;
    border-radius: 20px;
}
.subscribe-form button{
    height: 30px;
    border-radius: 15px;
    margin-left: -90px;
    border: none;
    background-color: rgb(9, 145, 81);
    color: #fff;
    padding: 2px 6px;
   
}
.our-status{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
/* footer */
.row-footer{
    height: 50vh;
    background-color: #c1bebe96;
}
.col{
    justify-content: flex-start;
}
.col span{
    margin: 0 10px;
}
.col{
    align-items: start;
    padding: 10px;

}
.row-footer {
    position: relative;
}
.copy-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
}
.close-nav{
    display: none;
}
@media screen and (max-width:992px) {
  .row{
    display: flex !important;
    flex-direction: column !important;
    width: 100vw;
    height: 200vh;
  }

}

@media screen and (max-width:700px) {
    .nav-links.hide{
        display: none;
    }
    .nav-links{
     position:absolute;
     top: 100px;
     left:-120%;
     width: 100vw;
     height: 100vh;
     background: #8f8e8e;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    }
    .nav-links.show{
    left: 0;
    }
    .close-nav{
        display: block;
        cursor: pointer;
       
    }
    .nav-links span{
        margin: 20px 0;
    }
}